<style>

</style>

<% include partials/header.ejs %>
<div class="container">
  <div class="card container-card">
    <h1 class="card-title">Select a housing complex <%= available_units %></h1>

    </div>
</div>

<% include partials/footer.ejs %>
