.container-card{
  padding:15px;
  /* margin: 50px; */
  background-color:#F2F5DD;
  border:0px;
}

.housing_complex{
  /* height:400px; */
  background-color:#F2F5DD;
  border:0px;
  cursor:pointer;
  padding-top:15px;
}
.housing_complex img{
    max-width: 100%;
}
.container{
  /* margin-top:100px; */
  background-color:#F2F5DD;
  padding-top:25px;
  padding-bottom:25px;
  height:75%;
}

.dollar-amount{
  font-size: 1.3rem;
  font-weight:bold;
}

.card-deck{
  margin-top:15px;
}

.height-100{
  height:100%;
}

.table-container{
  padding:20px
}
